div {
  display: grid;
}

div.playArea {
  grid-template-columns: auto auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  align-items: space-evenly;
  margin: 8px;
  height: 120px;
  width: 84px;
  position: relative;
}

img.clicked {
  box-shadow: 0 0 7px 4px #D30F8E;
}

img.onCorrectMatch {
  box-shadow: 0 0 7px 4px #0f8ed3;
}

.hidden {
  display: none;
}

img {
  height: 120px;
  width: 84px;
  margin: 8px;
  border-radius: 5px;
}

#startZone {
  height: 300px;
  width: 300px;
}

#victoryAlert {
  font-size: 200px;
  color: #e1341e;
}